<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.oulu.interactivestoryeditor" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".AddStoryActivity"
            android:label="@string/title_activity_add_story" >
        </activity>
        <activity
            android:name=".AddChapterActivity"
            android:label="@string/title_activity_add_chapter" >
        </activity>
        <activity
            android:name=".AddGPSInteraction"
            android:label="@string/title_activity_add_gps_interaction" >
        </activity>
        <activity
            android:name=".AddNFCInteraction"
            android:label="@string/title_activity_add_nfc_interaction" >
        </activity>
        <activity
            android:name=".AddQRCodeInteraction"
            android:label="@string/title_activity_add_qr_code_interaction" >
        </activity>
        <activity
            android:name=".AddQuizInteraction"
            android:label="@string/title_activity_add_quiz_interaction" >
        </activity>
        <activity
            android:name=".AddSpellCheckInteraction"
            android:label="@string/title_activity_add_spell_check_interaction" >
        </activity>
        <activity android:name=".FilePicker"></activity>
    </application>

</manifest>
